# README

The ultimate aim of this notebook is to construct a **naive** *implied order book* for SPX options (options on the S&P500). We will explain what this means in more detail. The data comes from the Chicago Board Options Exchange (CBOE). The data is delayed (hence why it's free!). Here's the link to the page where the data comes from. https://www.cboe.com/delayed_quotes/spx/quote_table

When we make a call to the API we get back a table containing all option contracts on the S&P500 (one row per contract), with some info about the contract:
* The ID tells us the expiry, whether it's a put or a call and the strike price.
* The current bid and ask prices, as well as the bid and ask sizes
* Implied Vol (need to work out whether this is from bid, ask, mid or something else - may need to write my own Black-Scholes function for this)
* Open Interest (total number of open contracts)
* Volume
* The Greeks - delta, gamma, vega, theta, rho, theo
* Some metrics about how the price has changed
* Last traded time and last traded price. This can help to show liquidity.

What this dataset doesn't tell you... EXPLAIN WHY IT'S NAIVE

https://perfiliev.com/blog/how-to-calculate-gamma-exposure-and-zero-gamma-level/

# Imports

In [1]:
import requests
import json
import pandas as pd
from datetime import datetime

# Fetch Data

In [2]:
# Symbol for SPX options
symbol = '_SPX'

# Start session
s = requests.Session()

# Make API call and check status code
response = s.get(f'https://cdn.cboe.com/api/global/delayed_quotes/options/{symbol}.json')
if response.status_code != 200:
    raise Exception(f"Unable to fetch data. Status code is {response.status_code}")

# Get data as json
data = json.loads(response.content)

# Close session
s.close()

In [3]:
# Get timestamp
timestamp = datetime.strptime(data['timestamp'], "%Y-%m-%d %H:%M:%S")

# Get index price
index_price = data['data']['current_price']

# Get options data
df = pd.DataFrame(
    data=data['data']['options']
)

df['Index Price'] = index_price
df['timestamp'] = timestamp

# Extract info from the ID column
without_w = df['option'].str.replace("W", "")
df['Expiry'] = without_w.str[3:9].astype(int)
df['Type'] = without_w.str[9]
df['Strike'] = without_w.str[11:-3].astype(int)

# Calculate moneyness
df['Moneyness'] = (df['Index Price'] - df['Strike']) / df['Strike']

# Order by expiry
df.sort_values(by='Expiry')

,option,bid,bid_size,ask,ask_size,iv,open_interest,volume,delta,gamma,...,last_trade_price,last_trade_time,percent_change,prev_day_close,Index Price,timestamp,Expiry,Type,Strike,Moneyness
8032,SPXW241108C01600000,4392.70,11.0,4399.0,11.0,0.0000,16.0,0.0,1.0000,0.0000,...,4369.53,2024-11-07T12:42:34,0.0000,4377.449951,5996.3101,2024-11-08 16:41:29,241108,C,1600,2.747694
8417,SPXW241108P05880000,0.05,112.0,0.1,656.0,0.3357,4346.0,3689.0,-0.0048,0.0003,...,0.10,2024-11-08T11:23:24,-89.1892,0.925000,5996.3101,2024-11-08 16:41:29,241108,P,5880,0.019781
8416,SPXW241108C05880000,112.20,12.0,117.8,11.0,0.3617,913.0,72.0,0.9952,0.0003,...,114.93,2024-11-08T11:26:03,14.5862,100.299999,5996.3101,2024-11-08 16:41:29,241108,C,5880,0.019781
8415,SPXW241108P05875000,0.05,24.0,0.1,721.0,0.3487,3596.0,2093.0,-0.0045,0.0003,...,0.05,2024-11-08T11:26:07,-93.9394,0.825000,5996.3101,2024-11-08 16:41:29,241108,P,5875,0.020649
8414,SPXW241108C05875000,117.70,12.0,124.3,12.0,0.0000,4501.0,1012.0,0.9955,0.0003,...,121.22,2024-11-08T10:53:04,15.0641,105.349998,5996.3101,2024-11-08 16:41:29,241108,C,5875,0.020649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7936,SPX291221C03700000,2873.50,5.0,2953.5,5.0,0.2401,0.0,0.0,0.9616,0.0000,...,0.00,None,0.0000,2897.199951,5996.3101,2024-11-08 16:41:29,291221,C,3700,0.620624
7935,SPX291221P03600000,108.10,71.0,118.5,18.0,0.2449,324.0,0.0,-0.0670,0.0000,...,119.72,2024-11-06T12:28:35,0.0000,114.950001,5996.3101,2024-11-08 16:41:29,291221,P,3600,0.665642
7934,SPX291221C03600000,2945.00,5.0,3025.0,5.0,0.2428,1.0,0.0,0.9669,0.0000,...,0.00,None,0.0000,2968.399902,5996.3101,2024-11-08 16:41:29,291221,C,3600,0.665642
7948,SPX291221C04300000,2457.10,5.0,2537.1,5.0,0.2257,0.0,0.0,0.9240,0.0001,...,0.00,None,0.0000,2481.100098,5996.3101,2024-11-08 16:41:29,291221,C,4300,0.394491
7933,SPX291221P03500000,99.70,73.0,109.5,18.0,0.2477,112.0,0.0,-0.0620,0.0000,...,110.83,2024-11-06T12:27:16,0.0000,106.150002,5996.3101,2024-11-08 16:41:29,291221,P,3500,0.713231

In [4]:
df

,option,bid,bid_size,ask,ask_size,iv,open_interest,volume,delta,gamma,...,last_trade_price,last_trade_time,percent_change,prev_day_close,Index Price,timestamp,Expiry,Type,Strike,Moneyness
0,SPX241115C00200000,5789.8,24.0,5799.80,24.0,0.0000,16.0,0.0,1.0000,0.0000,...,5655.41,2024-10-18T12:12:30,0.000000,5774.800049,5996.3101,2024-11-08 16:41:29,241115,C,200,28.981550
1,SPX241115P00200000,0.0,0.0,0.05,452.0,6.7584,116.0,0.0,0.0000,0.0000,...,0.00,None,0.000000,0.025000,5996.3101,2024-11-08 16:41:29,241115,P,200,28.981550
2,SPX241115C00400000,5590.0,24.0,5599.90,24.0,6.7531,1.0,0.0,1.0000,0.0000,...,5428.84,2024-10-21T11:17:52,0.000000,5575.049805,5996.3101,2024-11-08 16:41:29,241115,C,400,13.990775
3,SPX241115P00400000,0.0,0.0,0.05,413.0,5.3312,972.0,0.0,0.0000,0.0000,...,0.05,2024-10-31T15:47:22,0.000000,0.025000,5996.3101,2024-11-08 16:41:29,241115,P,400,13.990775
4,SPX241115C00600000,5390.1,24.0,5400.10,24.0,5.6776,0.0,0.0,1.0000,0.0000,...,0.00,None,0.000000,5375.300049,5996.3101,2024-11-08 16:41:29,241115,C,600,8.993850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25719,SPXW250930P07400000,1147.2,1.0,1180.20,1.0,0.1160,0.0,0.0,-0.9462,0.0002,...,0.00,None,0.000000,1180.649963,5996.3101,2024-11-08 16:41:29,250930,P,7400,-0.189688
25720,SPXW250930C07600000,8.6,203.0,8.90,14.0,0.1155,71.0,0.0,0.0367,0.0001,...,8.00,2024-11-06T15:45:09,0.000000,8.500000,5996.3101,2024-11-08 16:41:29,250930,C,7600,-0.211012
25721,SPXW250930P07600000,1332.8,1.0,1365.70,1.0,0.1177,1.0,0.0,-0.9680,0.0001,...,1522.36,2024-10-11T10:17:15,0.000000,1367.000000,5996.3101,2024-11-08 16:41:29,250930,P,7600,-0.211012
25722,SPXW250930C07800000,5.4,118.0,5.70,14.0,0.1185,103.0,3.0,0.0238,0.0001,...,5.40,2024-11-08T09:59:25,0.000003,5.400000,5996.3101,2024-11-08 16:41:29,250930,C,7800,-0.231242
25723,SPXW250930P07800000,1522.0,1.0,1554.80,1.0,0.1226,1.0,0.0,-0.9810,0.0001,...,1712.16,2024-10-11T10:17:15,0.000000,1555.950012,5996.3101,2024-11-08 16:41:29,250930,P,7800,-0.231242

# Construct Options Chain
Show the options chain for options near to ATM

In [5]:
# Get unique expiries
expiries = sorted(df['Expiry'].unique())

# Get columns to show in chain
cols = ['bid', 'ask', 'last_trade_price', 'volume', 'iv', 'delta', 'gamma', 'open_interest']

# Print options chain
for exp in expiries:
    # Get call and put data for the expiry, only fairly close to ATM
    expiry_df = df[(df['Expiry'] == exp) & (df['Moneyness'] >= -0.002) & (df['Moneyness'] <= 0.002)]
    call_df = expiry_df[expiry_df['Type'] == 'C'][cols]
    put_df = expiry_df[expiry_df['Type'] == 'P'][cols]
    print(f"{exp} Calls")
    display(call_df)
    print(f"{exp} Puts")
    display(put_df)

241108 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
8458,14.0,14.3,14.01,14668.0,0.1341,0.7238,0.0180,1016.0
8460,10.5,10.6,10.50,20336.0,0.1281,0.6325,0.0211,5110.0
8462,7.3,7.4,7.40,16754.0,0.1252,0.5238,0.0230,1045.0
8464,4.9,5.0,4.90,34946.0,0.1228,0.4084,0.0227,20672.0
8466,3.1,3.2,3.20,22525.0,0.1228,0.3004,0.0203,12062.0

241108 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
8459,3.0,3.1,3.04,13335.0,0.1332,-0.2762,0.0180,153.0
8461,4.3,4.4,4.37,11126.0,0.1292,-0.3675,0.0211,173.0
8463,6.2,6.3,6.30,5806.0,0.1254,-0.4762,0.0230,40.0
8465,8.7,8.9,8.84,5374.0,0.1230,-0.5916,0.0227,5909.0
8467,11.9,12.1,11.90,1030.0,0.1220,-0.6996,0.0203,36.0

241111 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
8928,20.8,21.0,20.80,1110.0,0.0659,0.6180,0.0103,96.0
8930,17.7,18.0,17.90,1895.0,0.0647,0.5668,0.0108,2021.0
8932,14.9,15.0,14.88,828.0,0.0642,0.5128,0.0111,95.0
8934,12.3,12.4,12.31,3231.0,0.0634,0.4571,0.0112,3238.0
8936,10.0,10.2,10.00,972.0,0.0626,0.4011,0.0110,97.0

241111 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
8929,9.6,9.8,9.70,1094.0,0.0657,-0.3816,0.0103,70.0
8931,11.5,11.7,11.60,1080.0,0.0646,-0.4328,0.0108,124.0
8933,13.6,13.8,13.69,353.0,0.0639,-0.4868,0.0111,28.0
8935,16.0,16.2,16.10,670.0,0.0632,-0.5425,0.0112,209.0
8937,18.7,18.9,18.90,107.0,0.0625,-0.5985,0.0110,41.0

241112 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
9356,26.1,26.4,26.37,820.0,0.0778,0.5926,0.0077,246.0
9358,23.1,23.3,23.10,591.0,0.0768,0.5544,0.0080,460.0
9360,20.3,20.5,20.20,650.0,0.0760,0.5146,0.0081,316.0
9362,17.6,17.8,17.50,1099.0,0.0751,0.4738,0.0082,1301.0
9364,15.1,15.3,14.85,298.0,0.0745,0.4324,0.0082,124.0

241112 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
9357,14.4,14.6,15.55,441.0,0.0776,-0.4070,0.0077,45.0
9359,16.3,16.5,16.30,253.0,0.0767,-0.4452,0.0080,31.0
9361,18.4,18.6,18.70,110.0,0.0757,-0.4850,0.0081,12.0
9363,20.7,21.0,21.00,198.0,0.0752,-0.5258,0.0082,57.0
9365,23.3,23.6,26.07,67.0,0.0744,-0.5672,0.0082,1.0

241113 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
9770,33.4,33.7,33.50,159.0,0.0946,0.5737,0.0058,41.0
9772,30.4,30.7,30.33,70.0,0.0938,0.5451,0.0059,110.0
9774,27.7,27.9,27.80,113.0,0.0931,0.5157,0.0060,29.0
9776,24.9,25.2,24.97,195.0,0.0923,0.4858,0.0060,3724.0
9778,22.4,22.6,21.20,50.0,0.0917,0.4556,0.0060,25.0

241113 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
9771,21.1,21.3,22.20,293.0,0.0946,-0.4259,0.0058,13.0
9773,23.1,23.3,23.50,98.0,0.0938,-0.4545,0.0059,15.0
9775,25.2,25.4,25.30,78.0,0.0929,-0.4839,0.0060,14.0
9777,27.5,27.7,27.91,76.0,0.0921,-0.5138,0.0060,35.0
9779,30.0,30.2,32.98,35.0,0.0915,-0.5440,0.0060,33.0

241114 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
10184,37.3,37.7,37.14,83.0,0.0989,0.5663,0.0051,15.0
10186,34.4,34.7,34.58,116.0,0.0984,0.5411,0.0052,31.0
10188,31.6,31.9,31.40,36.0,0.0976,0.5154,0.0052,21.0
10190,28.9,29.2,29.00,196.0,0.0969,0.4893,0.0052,255.0
10192,26.3,26.7,24.24,39.0,0.0964,0.4629,0.0053,11.0

241114 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
10185,24.7,25.0,24.80,115.0,0.0988,-0.4333,0.0051,3.0
10187,26.7,27.0,27.20,29.0,0.0982,-0.4585,0.0052,16.0
10189,28.9,29.2,29.20,17.0,0.0974,-0.4842,0.0052,14.0
10191,31.2,31.5,32.36,53.0,0.0967,-0.5104,0.0052,126.0
10193,33.6,33.9,0.00,0.0,0.0963,-0.5368,0.0053,0.0

241115 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
700,40.2,40.7,39.78,359.0,0.0990,0.5729,0.0048,493.0
702,37.3,37.7,37.10,181.0,0.0984,0.5493,0.0048,1562.0
704,34.4,34.8,34.20,27.0,0.0977,0.5251,0.0049,193.0
706,31.6,32.0,31.80,3316.0,0.0972,0.5006,0.0050,42112.0
708,29.1,29.4,29.00,19.0,0.0965,0.4757,0.0050,685.0
10976,42.0,42.3,41.93,200.0,0.1023,0.5694,0.0045,280.0
10978,38.9,39.3,38.88,191.0,0.1016,0.5469,0.0046,1214.0
10980,36.0,36.4,35.75,141.0,0.1010,0.5240,0.0047,222.0
10982,33.4,33.7,33.74,441.0,0.1003,0.5006,0.0047,2501.0
10984,30.7,31.0,30.94,124.0,0.0998,0.4771,0.0047,403.0

241115 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
701,25.6,25.9,26.20,93.0,0.0990,-0.4271,0.0048,125.0
703,27.5,27.9,27.80,99.0,0.0983,-0.4508,0.0048,111.0
705,29.6,30.0,31.80,5.0,0.0976,-0.4749,0.0049,35.0
707,31.9,32.3,32.67,1656.0,0.0970,-0.4994,0.0050,27259.0
709,34.3,34.6,58.86,0.0,0.0964,-0.5243,0.0050,13.0
10977,27.3,27.5,28.26,87.0,0.1021,-0.4305,0.0045,21.0
10979,29.3,29.5,29.48,133.0,0.1014,-0.4531,0.0046,75.0
10981,31.4,31.7,32.00,112.0,0.1009,-0.4760,0.0047,48.0
10983,33.7,34.0,33.69,430.0,0.1003,-0.4993,0.0047,118.0
10985,36.1,36.3,37.40,137.0,0.0997,-0.5229,0.0047,11.0

241118 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
11466,45.9,46.3,42.67,4.0,0.0960,0.5626,0.0041,9.0
11468,43.0,43.3,40.43,29.0,0.0954,0.5424,0.0041,4.0
11470,40.1,40.4,37.68,2.0,0.0948,0.5219,0.0042,11.0
11472,37.3,37.6,37.40,160.0,0.0942,0.5010,0.0042,1748.0
11474,34.7,35.0,34.28,25.0,0.0936,0.4798,0.0042,19.0

241118 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
11467,31.2,31.5,36.40,16.0,0.0956,-0.4371,0.0041,9.0
11469,33.2,33.5,35.97,6.0,0.0952,-0.4573,0.0041,22.0
11471,35.3,35.6,36.70,25.0,0.0946,-0.4778,0.0042,9.0
11473,37.6,37.9,38.30,22.0,0.0939,-0.4988,0.0042,110.0
11475,39.9,40.2,0.00,0.0,0.0934,-0.5199,0.0042,0.0

241119 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
11838,49.4,49.8,47.70,252.0,0.0988,0.5617,0.0038,5.0
11840,46.4,46.7,45.23,0.0,0.0982,0.5430,0.0038,2.0
11842,43.5,43.9,41.00,12.0,0.0977,0.5240,0.0039,6.0
11844,40.6,41.0,40.05,600.0,0.0970,0.5046,0.0039,1625.0
11846,37.9,38.3,35.80,91.0,0.0964,0.4851,0.0039,19.0

241119 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
11839,33.8,34.1,35.45,270.0,0.0987,-0.4380,0.0038,9.0
11841,35.8,36.2,36.84,3.0,0.0980,-0.4567,0.0038,2.0
11843,37.9,38.3,41.12,12.0,0.0974,-0.4758,0.0039,0.0
11845,40.2,40.5,40.70,7.0,0.0969,-0.4951,0.0039,3.0
11847,42.4,42.8,65.31,0.0,0.0963,-0.5146,0.0039,2.0

241120 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
12204,52.7,53.1,51.16,507.0,0.1018,0.5603,0.0035,4.0
12206,49.7,50.1,45.29,8.0,0.1012,0.5429,0.0036,9.0
12208,46.9,47.3,46.70,13.0,0.1006,0.5252,0.0036,4.0
12210,44.1,44.5,41.90,27.0,0.1000,0.5073,0.0036,3523.0
12212,41.4,41.9,36.10,6.0,0.0995,0.4891,0.0036,14.0

241120 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
12205,36.5,36.9,38.20,626.0,0.1016,-0.4395,0.0035,7.0
12207,38.5,38.9,40.20,6.0,0.1010,-0.4568,0.0036,7.0
12209,40.7,41.1,43.94,9.0,0.1004,-0.4745,0.0036,6.0
12211,42.9,43.2,43.30,106.0,0.0998,-0.4925,0.0036,160.0
12213,45.2,45.5,45.86,12.0,0.0993,-0.5106,0.0036,42.0

241121 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
12570,59.4,59.8,54.46,0.0,0.1128,0.5532,0.0031,9.0
12572,56.4,56.9,55.20,6.0,0.1123,0.5380,0.0031,2.0
12574,53.6,54.1,50.37,8.0,0.1117,0.5226,0.0031,0.0
12576,50.8,51.2,47.64,511.0,0.1111,0.5071,0.0031,161.0
12578,48.1,48.6,45.06,1.0,0.1105,0.4914,0.0032,20.0

241121 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
12571,43.2,43.7,56.52,0.0,0.1125,-0.4466,0.0031,78.0
12573,45.2,45.7,52.30,1.0,0.1119,-0.4617,0.0031,1.0
12575,47.4,47.8,52.00,4.0,0.1113,-0.4771,0.0031,0.0
12577,49.6,50.0,53.78,4.0,0.1107,-0.4926,0.0031,35.0
12579,51.9,52.3,0.00,0.0,0.1102,-0.5084,0.0032,0.0

241122 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
13050,63.6,64.1,59.60,48.0,0.1151,0.5579,0.0029,25.0
13052,60.7,61.2,60.60,24.0,0.1145,0.5436,0.0029,399.0
13054,57.8,58.2,57.55,68.0,0.1140,0.5292,0.0030,15.0
13056,55.0,55.5,55.09,323.0,0.1135,0.5145,0.0030,2781.0
13058,52.2,52.7,52.62,20.0,0.1129,0.4996,0.0030,5.0

241122 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
13051,45.2,45.6,50.66,93.0,0.1150,-0.4422,0.0029,7.0
13053,47.2,47.6,47.73,250.0,0.1144,-0.4564,0.0029,17.0
13055,49.3,49.7,51.20,18.0,0.1138,-0.4709,0.0030,1.0
13057,51.4,51.8,51.68,1538.0,0.1132,-0.4856,0.0030,2000.0
13059,53.7,54.1,56.62,14.0,0.1127,-0.5004,0.0030,0.0

241125 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
13438,66.9,67.5,67.54,6.0,0.1101,0.5575,0.0028,1.0
13440,63.9,64.5,63.28,3.0,0.1096,0.5439,0.0028,5.0
13442,61.0,61.4,57.90,3.0,0.1090,0.5302,0.0028,0.0
13444,58.1,58.7,56.85,14.0,0.1086,0.5162,0.0028,4118.0
13446,55.4,55.9,54.15,5.0,0.1081,0.5022,0.0028,1.0

241125 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
13439,47.6,48.1,50.20,20.0,0.1098,-0.4423,0.0028,0.0
13441,49.6,50.1,50.00,30.0,0.1093,-0.4559,0.0028,3.0
13443,51.7,52.1,52.40,4.0,0.1088,-0.4696,0.0028,0.0
13445,53.9,54.3,54.65,14.0,0.1084,-0.4835,0.0028,9.0
13447,56.1,56.5,0.00,0.0,0.1078,-0.4976,0.0028,0.0

241126 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
13776,69.6,70.1,66.01,3.0,0.1116,0.5568,0.0026,0.0
13778,66.5,67.1,0.00,0.0,0.1110,0.5438,0.0027,0.0
13780,63.6,64.2,64.10,2.0,0.1105,0.5306,0.0027,5.0
13782,60.8,61.3,59.73,3.0,0.1099,0.5173,0.0027,199.0
13784,58.0,58.5,0.00,0.0,0.1095,0.5038,0.0027,0.0

241126 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
13777,49.7,50.2,52.60,1.0,0.1113,-0.4430,0.0026,0.0
13779,51.7,52.2,54.61,2.0,0.1108,-0.4560,0.0027,0.0
13781,53.8,54.3,0.00,0.0,0.1102,-0.4692,0.0027,0.0
13783,55.9,56.4,79.61,0.0,0.1097,-0.4825,0.0027,4.0
13785,58.1,58.6,0.00,0.0,0.1092,-0.4960,0.0027,0.0

241127 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
14104,73.0,73.6,73.00,2.0,0.1133,0.5592,0.0025,1.0
14106,70.0,70.5,62.60,0.0,0.1128,0.5468,0.0026,2.0
14108,67.1,67.6,63.95,10.0,0.1122,0.5342,0.0026,1.0
14110,64.2,64.7,63.28,19.0,0.1117,0.5214,0.0026,521.0
14112,61.4,61.9,58.45,10.0,0.1113,0.5085,0.0026,0.0

241127 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
14105,51.7,52.1,54.42,12.0,0.1133,-0.4407,0.0025,14.0
14107,53.6,54.1,56.30,1.0,0.1126,-0.4532,0.0026,14.0
14109,55.7,56.1,57.60,11.0,0.1122,-0.4658,0.0026,78.0
14111,57.8,58.2,58.00,3.0,0.1116,-0.4785,0.0026,85.0
14113,60.0,60.4,67.20,14.0,0.1111,-0.4914,0.0026,0.0

241129 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
14818,76.1,76.5,74.00,5.0,0.1115,0.5627,0.0024,144.0
14820,73.0,73.4,72.50,117.0,0.1109,0.5506,0.0025,353.0
14822,70.1,70.5,69.80,7.0,0.1104,0.5384,0.0025,118.0
14824,67.2,67.5,67.29,168.0,0.1098,0.5261,0.0025,5427.0
14826,64.2,64.7,64.18,18.0,0.1093,0.5136,0.0025,169.0

241129 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
14819,52.6,53.0,53.18,104.0,0.1114,-0.4375,0.0024,106.0
14821,54.6,55.0,56.53,31.0,0.1109,-0.4495,0.0025,200.0
14823,56.6,57.0,57.00,55.0,0.1103,-0.4617,0.0025,7.0
14825,58.7,59.1,59.23,28.0,0.1098,-0.4740,0.0025,1784.0
14827,60.8,61.2,62.33,1.0,0.1092,-0.4865,0.0025,1.0

241202 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
15224,78.9,79.6,65.85,0.0,0.1086,0.5616,0.0024,1.0
15226,75.9,76.6,64.62,0.0,0.1081,0.5501,0.0024,2.0
15228,72.9,73.5,67.02,1.0,0.1076,0.5384,0.0024,0.0
15230,70.0,70.7,69.53,4.0,0.1071,0.5266,0.0024,626.0
15232,67.2,67.9,0.00,0.0,0.1066,0.5146,0.0024,0.0

241202 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
15225,55.1,55.6,0.0,0.0,0.1084,-0.4383,0.0023,0.0
15227,57.0,57.5,57.6,21.0,0.1078,-0.4498,0.0024,1.0
15229,59.0,59.5,64.5,1.0,0.1073,-0.4615,0.0024,0.0
15231,61.1,61.6,73.6,0.0,0.1068,-0.4733,0.0024,112.0
15233,63.2,63.8,0.0,0.0,0.1063,-0.4853,0.0024,0.0

241203 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
15520,81.6,82.3,68.62,0.0,0.1101,0.5618,0.0023,1.0
15522,78.6,79.2,65.94,0.0,0.1095,0.5506,0.0023,1.0
15524,75.6,76.3,0.00,0.0,0.1090,0.5393,0.0023,0.0
15526,72.8,73.3,69.30,18.0,0.1085,0.5279,0.0023,3392.0
15528,69.8,70.4,0.00,0.0,0.1080,0.5164,0.0023,0.0

241203 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
15521,56.9,57.5,57.40,16.0,0.1099,-0.4381,0.0023,100.0
15523,58.9,59.4,81.56,0.0,0.1093,-0.4493,0.0023,1.0
15525,60.9,61.4,61.30,3.0,0.1088,-0.4606,0.0023,0.0
15527,62.9,63.5,63.60,17.0,0.1083,-0.4720,0.0023,0.0
15529,65.1,65.6,0.00,0.0,0.1078,-0.4836,0.0023,0.0

241204 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
15782,84.2,84.9,0.0,0.0,0.1114,0.5620,0.0022,0.0
15784,81.1,81.8,77.2,2.0,0.1108,0.5512,0.0022,0.0
15786,78.1,78.8,0.0,0.0,0.1102,0.5403,0.0022,0.0
15788,75.3,75.9,75.5,20.0,0.1098,0.5292,0.0022,3486.0
15790,72.4,73.1,66.1,1.0,0.1094,0.5180,0.0023,0.0

241204 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
15783,58.8,59.3,61.95,1.0,0.1112,-0.4380,0.0022,14.0
15785,60.8,61.3,63.95,1.0,0.1106,-0.4487,0.0022,0.0
15787,62.7,63.3,0.00,0.0,0.1101,-0.4597,0.0022,0.0
15789,64.8,65.3,64.79,5.0,0.1097,-0.4707,0.0022,13.0
15791,66.9,67.4,0.00,0.0,0.1092,-0.4819,0.0023,0.0

241205 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
16036,86.6,87.2,82.40,1.0,0.1127,0.5615,0.0021,0.0
16038,83.5,84.1,0.00,0.0,0.1121,0.5510,0.0022,0.0
16040,80.5,81.1,0.00,0.0,0.1115,0.5404,0.0022,0.0
16042,77.6,78.2,75.87,1.0,0.1111,0.5296,0.0022,518.0
16044,74.7,75.3,68.15,2.0,0.1106,0.5188,0.0022,0.0

241205 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
16037,60.7,61.3,0.00,0.0,0.1124,-0.4385,0.0021,0.0
16039,62.6,63.2,66.04,44.0,0.1120,-0.4490,0.0022,0.0
16041,64.6,65.2,68.24,2.0,0.1114,-0.4596,0.0022,0.0
16043,66.7,67.2,69.75,10.0,0.1109,-0.4703,0.0022,11.0
16045,68.8,69.3,72.59,2.0,0.1104,-0.4812,0.0022,0.0

241206 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
16450,91.8,92.3,84.60,1.0,0.1167,0.5631,0.0020,0.0
16452,88.7,89.2,86.60,12.0,0.1162,0.5532,0.0020,155.0
16454,85.6,86.2,82.87,2.0,0.1156,0.5432,0.0020,1.0
16456,82.7,83.2,82.50,277.0,0.1151,0.5330,0.0021,4258.0

241206 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
16451,64.0,64.4,67.80,1.0,0.1165,-0.4372,0.0020,0.0
16453,65.9,66.3,66.85,40.0,0.1160,-0.4471,0.0020,148.0
16455,67.8,68.3,0.00,0.0,0.1155,-0.4571,0.0020,0.0
16457,69.9,70.3,70.40,13.0,0.1150,-0.4673,0.0021,2515.0

241209 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
16718,90.9,91.5,0.00,0.0,0.1136,0.5523,0.002,0.0
16720,85.0,85.6,84.47,21.0,0.1127,0.5326,0.002,148.0

241209 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
16719,67.9,68.5,0.00,0.0,0.1135,-0.4478,0.002,0.0
16721,71.9,72.5,72.48,3.0,0.1125,-0.4674,0.002,2.0

241210 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
16936,93.3,93.9,0.00,0.0,0.1147,0.5527,0.0019,0.0
16938,87.4,88.0,75.99,0.0,0.1138,0.5336,0.0020,126.0

241210 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
16937,69.5,70.1,83.42,0.0,0.1145,-0.4473,0.0019,50.0
16939,73.5,74.1,75.03,5.0,0.1136,-0.4664,0.0020,46.0

241211 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
17136,96.8,97.5,0.00,0.0,0.1173,0.5529,0.0019,0.0
17138,90.9,91.5,88.45,7.0,0.1164,0.5345,0.0019,510.0

241211 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
17137,72.2,72.9,86.25,0.0,0.1172,-0.4472,0.0019,1.0
17139,76.2,76.8,0.00,0.0,0.1162,-0.4656,0.0019,0.0

241212 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
17338,99.2,100.0,91.9,17.0,0.1183,0.5536,0.0018,0.0
17340,93.2,94.0,89.8,1.0,0.1174,0.5356,0.0018,98.0

241212 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
17339,73.8,74.5,0.00,0.0,0.1181,-0.4465,0.0018,0.0
17341,77.7,78.5,79.72,1.0,0.1172,-0.4645,0.0018,75.0

241213 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
17702,102.1,102.8,91.50,0.0,0.1191,0.5561,0.0018,14.0
17704,96.1,96.8,96.06,5.0,0.1182,0.5386,0.0018,590.0

241213 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
17703,74.9,75.5,76.45,6.0,0.1190,-0.4443,0.0018,25.0
17705,78.8,79.4,79.03,9.0,0.1181,-0.4618,0.0018,509.0

241216 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
17888,98.1,98.8,95.16,4.0,0.1158,0.5388,0.0018,4.0

241216 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
17889,80.6,81.2,83.1,3.0,0.1159,-0.4614,0.0018,0.0

241217 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
18012,106.2,106.9,104.68,1.0,0.1175,0.5563,0.0017,0.0
18014,100.2,100.9,97.33,1.0,0.1166,0.5394,0.0017,0.0

241217 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
18013,77.9,78.5,0.0,0.0,0.1174,-0.4439,0.0017,0.0
18015,81.8,82.4,0.0,0.0,0.1164,-0.4608,0.0017,0.0

241219 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
18160,106.4,107.0,94.79,0.0,0.1205,0.5407,0.0016,4.0

241219 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
18161,86.2,86.9,103.5,0.0,0.12,-0.4596,0.0016,78.0

241220 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
1540,118.2,118.9,112.32,0.0,0.1221,0.5688,0.0016,1439.0
1542,115.1,115.8,113.62,28.0,0.1216,0.5611,0.0016,4412.0
1544,112.0,112.7,107.70,1.0,0.1211,0.5533,0.0016,7285.0
1546,109.0,109.7,109.35,3929.0,0.1206,0.5454,0.0016,64602.0
1548,105.9,106.6,102.64,458.0,0.1202,0.5375,0.0016,1167.0
18772,119.2,119.7,116.95,15.0,0.1227,0.5684,0.0016,121.0
18774,116.1,116.5,115.43,20.0,0.1222,0.5607,0.0016,524.0
18776,113.0,113.5,110.85,4.0,0.1218,0.5530,0.0016,260.0
18778,110.0,110.4,109.60,62.0,0.1213,0.5451,0.0016,2818.0
18780,107.0,107.4,103.47,0.0,0.1208,0.5372,0.0016,95.0

241220 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
1541,80.5,81.0,82.47,8.0,0.1220,-0.4319,0.0016,1373.0
1543,82.3,82.9,84.43,4.0,0.1215,-0.4396,0.0016,3148.0
1545,84.2,84.8,86.37,18.0,0.1211,-0.4474,0.0016,2843.0
1547,86.2,86.8,86.71,1930.0,0.1205,-0.4553,0.0016,35910.0
1549,88.1,88.8,88.90,487.0,0.1201,-0.4633,0.0016,1243.0
18773,81.4,81.8,82.40,39.0,0.1226,-0.4323,0.0016,18.0
18775,83.3,83.6,83.40,62.0,0.1221,-0.4400,0.0016,58.0
18777,85.2,85.5,88.24,2.0,0.1217,-0.4477,0.0016,73.0
18779,87.1,87.5,88.10,58.0,0.1211,-0.4556,0.0016,235.0
18781,89.1,89.5,92.34,2.0,0.1207,-0.4635,0.0016,9.0

241227 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
19186,124.8,125.5,114.80,0.0,0.1203,0.5656,0.0015,73.0
19188,118.6,119.3,118.21,2.0,0.1193,0.5511,0.0015,179.0

241227 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
19187,87.0,87.7,89.19,2.0,0.1203,-0.4350,0.0015,14.0
19189,90.7,91.4,91.85,12.0,0.1193,-0.4496,0.0015,115.0

241231 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
19972,133.1,133.9,126.87,0.0,0.1205,0.5742,0.0014,137.0
19974,129.9,130.7,124.90,16.0,0.1200,0.5673,0.0014,58.0
19976,126.8,127.5,121.80,7.0,0.1196,0.5603,0.0014,46.0
19978,123.8,124.4,124.40,75.0,0.1190,0.5533,0.0014,7725.0
19980,120.6,121.4,116.45,3.0,0.1186,0.5462,0.0015,91.0

241231 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
19973,88.0,88.7,90.50,18.0,0.1204,-0.4264,0.0014,23.0
19975,89.8,90.4,91.40,30.0,0.1199,-0.4333,0.0014,8.0
19977,91.6,92.2,105.60,0.0,0.1194,-0.4403,0.0014,103.0
19979,93.5,94.0,93.50,47.0,0.1189,-0.4473,0.0014,3498.0
19981,95.3,96.0,107.94,0.0,0.1185,-0.4544,0.0015,26.0

250103 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
20352,130.7,131.5,128.6,2.0,0.12,0.5605,0.0014,538.0

250103 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
20353,94.7,95.2,95.0,11.0,0.1197,-0.4407,0.0014,528.0

250110 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
20544,142.8,143.7,139.95,3.0,0.1225,0.5648,0.0013,1529.0

250110 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
20545,101.3,102.2,114.06,0.0,0.1224,-0.4367,0.0013,1505.0

250117 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
2324,164.2,165.2,157.70,8.0,0.1257,0.5873,0.0012,119.0
2326,160.9,161.6,145.20,0.0,0.1252,0.5816,0.0012,175.0
2328,157.7,158.4,155.65,4.0,0.1248,0.5759,0.0012,148.0
2330,154.5,155.2,152.25,652.0,0.1243,0.5701,0.0012,26372.0
2332,151.3,152.3,149.87,2.0,0.1239,0.5642,0.0012,83.0
21158,165.1,165.8,155.40,4.0,0.1262,0.5870,0.0012,43.0
21160,162.0,162.6,157.70,1.0,0.1258,0.5813,0.0012,68.0
21162,158.6,159.2,134.92,0.0,0.1253,0.5756,0.0012,146.0
21164,155.5,155.9,154.27,11.0,0.1248,0.5699,0.0012,864.0
21166,152.3,152.9,99.38,0.0,0.1244,0.5641,0.0012,8.0

250117 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
2325,101.4,102.1,105.21,4.0,0.1256,-0.4146,0.0012,81.0
2327,103.2,103.8,104.56,3.0,0.1252,-0.4203,0.0012,129.0
2329,104.8,105.5,107.36,1.0,0.1246,-0.4260,0.0012,34.0
2331,106.8,107.2,107.00,1514.0,0.1243,-0.4318,0.0012,17198.0
2333,108.5,109.0,110.25,2.0,0.1238,-0.4376,0.0012,153.0
21159,102.4,102.9,106.00,2.0,0.1262,-0.4149,0.0012,20.0
21161,104.0,104.5,105.89,2.0,0.1258,-0.4205,0.0012,58.0
21163,105.7,106.3,139.65,0.0,0.1253,-0.4262,0.0012,3.0
21165,107.5,108.0,108.96,25.0,0.1248,-0.4320,0.0012,148.0
21167,109.2,109.8,223.20,0.0,0.1243,-0.4378,0.0012,1.0

250131 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
21864,185.7,186.6,149.16,0.0,0.1289,0.5908,0.0010,14.0
21866,182.4,183.3,181.41,13.0,0.1284,0.5858,0.0010,102.0
21868,179.1,180.0,179.00,3.0,0.1279,0.5807,0.0011,1.0
21870,175.9,176.5,172.30,60.0,0.1274,0.5756,0.0011,3164.0
21872,172.8,173.3,169.72,1.0,0.1270,0.5704,0.0011,117.0

250131 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
21865,113.2,113.9,114.72,1.0,0.1288,-0.4111,0.0010,6.0
21867,114.9,115.5,248.59,0.0,0.1283,-0.4162,0.0010,2.0
21869,116.5,117.2,226.35,0.0,0.1279,-0.4212,0.0011,1.0
21871,118.3,118.9,128.40,0.0,0.1274,-0.4263,0.0011,32.0
21873,120.0,120.7,0.00,0.0,0.1270,-0.4315,0.0011,0.0

250221 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
2988,211.5,212.6,157.87,0.0,0.1310,0.5944,0.0009,31.0
2990,208.2,209.3,173.86,0.0,0.1306,0.5900,0.0009,30.0
2992,205.0,206.0,197.10,2.0,0.1302,0.5856,0.0009,0.0
2994,201.7,202.6,200.92,56.0,0.1298,0.5811,0.0009,8361.0
2996,198.5,199.7,0.00,0.0,0.1294,0.5766,0.0009,0.0
22578,209.2,209.9,205.60,1.0,0.1310,0.5899,0.0009,50.0
22580,202.6,203.4,194.72,4.0,0.1302,0.5810,0.0009,82.0

250221 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
2989,127.6,128.3,159.30,0.0,0.1310,-0.4078,0.0009,4.0
2991,129.2,129.9,161.10,0.0,0.1306,-0.4122,0.0009,6.0
2993,130.9,131.6,0.00,0.0,0.1302,-0.4166,0.0009,0.0
2995,132.5,133.3,133.00,140.0,0.1298,-0.4211,0.0009,7460.0
2997,134.2,135.0,0.00,0.0,0.1294,-0.4256,0.0009,0.0
22579,129.9,130.5,284.93,0.0,0.1310,-0.4123,0.0009,25.0
22581,133.3,133.8,136.00,1.0,0.1302,-0.4212,0.0009,46.0

250228 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
23156,221.9,222.8,214.20,0.0,0.1327,0.5959,0.0009,15.0
23158,218.6,219.5,0.00,0.0,0.1323,0.5917,0.0009,0.0
23160,215.3,216.2,214.09,84.0,0.1318,0.5874,0.0009,82.0
23162,212.1,212.9,194.92,0.0,0.1314,0.5832,0.0009,654.0
23164,208.8,209.7,0.00,0.0,0.1310,0.5789,0.0009,0.0

250228 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
23157,133.1,133.8,0.00,0.0,0.1326,-0.4064,0.0009,0.0
23159,134.7,135.4,210.97,0.0,0.1322,-0.4106,0.0009,2.0
23161,136.3,137.0,0.00,0.0,0.1318,-0.4149,0.0009,0.0
23163,138.0,138.7,175.90,0.0,0.1314,-0.4191,0.0009,25.0
23165,139.7,140.4,0.00,0.0,0.1310,-0.4234,0.0009,0.0

250321 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
3540,245.1,246.3,186.67,0.0,0.1359,0.5950,0.0008,219.0
3542,238.5,239.7,237.45,440.0,0.1351,0.5874,0.0008,19710.0
23698,246.0,246.7,117.30,0.0,0.1363,0.5949,0.0008,88.0
23700,239.4,240.1,212.90,0.0,0.1355,0.5873,0.0008,83.0

250321 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
3541,149.8,150.4,151.80,1.0,0.1359,-0.4076,0.0008,106.0
3543,153.0,153.7,154.52,331.0,0.1351,-0.4152,0.0008,4660.0
23699,150.4,151.0,184.72,0.0,0.1362,-0.4077,0.0008,4.0
23701,153.6,154.2,190.80,0.0,0.1354,-0.4153,0.0008,5.0

250331 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
24386,259.6,260.5,243.76,0.0,0.1369,0.6003,0.0008,16.0
24388,256.2,257.2,232.92,0.0,0.1365,0.5967,0.0008,10.0
24390,252.9,253.9,132.68,0.0,0.1361,0.5931,0.0008,1.0
24392,249.6,250.6,238.80,0.0,0.1357,0.5895,0.0008,2161.0
24394,246.3,247.3,235.42,0.0,0.1353,0.5858,0.0008,1.0

250331 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
24387,153.8,154.5,0.00,0.0,0.1369,-0.4022,0.0008,0.0
24389,155.3,156.0,240.96,0.0,0.1365,-0.4057,0.0008,89.0
24391,156.9,157.6,239.50,0.0,0.1361,-0.4093,0.0008,10.0
24393,158.6,159.2,175.07,0.0,0.1357,-0.4130,0.0008,830.0
24395,160.2,160.9,0.00,0.0,0.1353,-0.4166,0.0008,0.0

250417 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
4052,278.5,279.8,270.88,0.0,0.1394,0.6014,0.0007,18.0
4054,271.8,273.2,269.09,11.0,0.1386,0.5948,0.0007,2282.0

250417 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
4053,165.1,166.0,166.62,6.0,0.1390,-0.4015,0.0007,35.0
4055,168.2,169.1,170.21,17.0,0.1383,-0.4082,0.0007,1061.0

250430 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
24868,292.9,293.8,0.0,0.0,0.1402,0.6038,0.0007,0.0
24870,286.2,287.1,0.0,0.0,0.1395,0.5974,0.0007,2.0

250430 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
24869,172.2,172.9,172.48,8.0,0.1401,-0.3991,0.0007,102.0
24871,175.3,176.0,206.38,0.0,0.1394,-0.4054,0.0007,77.0

250516 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
4436,304.7,306.0,302.8,2.0,0.1416,0.6007,0.0006,1433.0

250516 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
4437,184.7,185.4,186.3,13.0,0.1417,-0.4027,0.0006,525.0

250620 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
4768,342.2,343.5,342.62,158.0,0.1449,0.6068,0.0006,18468.0

250620 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
4769,202.8,203.4,206.48,300.0,0.1451,-0.397,0.0006,5245.0

250630 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
25346,358.7,360.4,320.67,0.0,0.1464,0.6131,0.0006,10.0
25348,351.9,353.2,339.46,0.0,0.1455,0.6079,0.0006,516.0

250630 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
25347,204.3,205.2,231.94,0.0,0.1462,-0.3904,0.0006,6.0
25349,207.3,208.1,209.77,2.0,0.1455,-0.3956,0.0006,41.0

250718 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
5090,371.5,373.9,368.28,1.0,0.1474,0.612,0.0005,4036.0

250718 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
5091,215.4,216.3,217.4,1.0,0.1474,-0.392,0.0005,939.0

250815 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
5400,401.2,403.7,400.65,5.0,0.1502,0.6165,0.0005,1301.0

250815 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
5401,228.9,229.6,230.9,1.0,0.1501,-0.3879,0.0005,970.0

250919 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
5726,434.8,437.0,434.37,12.0,0.1529,0.6209,0.0004,7136.0

250919 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
5727,244.7,245.5,245.08,104.0,0.1529,-0.384,0.0004,4437.0

250930 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
25652,444.9,447.1,445.8,2.0,0.1535,0.622,0.0004,131.0

250930 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
25653,249.0,250.0,258.45,0.0,0.1534,-0.3827,0.0004,101.0

251017 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
6046,462.6,465.3,462.42,2.0,0.1552,0.6251,0.0004,393.0

251017 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
6047,256.0,257.1,258.96,1.0,0.155,-0.3802,0.0004,323.0

251121 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
6358,494.9,498.3,495.75,8.0,0.1576,0.6294,0.0004,33.0

251121 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
6359,270.3,271.8,271.24,45.0,0.1575,-0.3764,0.0004,114.0

251219 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
6704,519.6,522.4,520.2,155.0,0.159,0.6329,0.0004,11770.0

251219 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
6705,280.6,281.8,282.24,102.0,0.159,-0.3735,0.0004,6638.0

260116 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
7032,543.8,548.1,535.0,0.0,0.1599,0.6377,0.0004,521.0

260116 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
7033,287.4,289.3,289.81,50.0,0.1599,-0.3691,0.0004,169.0

260618 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
7348,664.5,672.9,650.32,0.0,0.1664,0.6539,0.0003,1147.0

260618 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
7349,332.3,336.2,433.34,0.0,0.1661,-0.355,0.0003,458.0

261218 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
7558,794.3,811.8,790.0,0.0,0.172,0.6717,0.0002,3802.0

261218 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
7559,379.4,383.3,382.4,61.0,0.1731,-0.3401,0.0002,1512.0

271217 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
7716,1032.6,1079.6,1040.0,103.0,0.1834,0.705,0.0002,1494.0

271217 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
7717,433.4,446.3,444.09,0.0,0.1803,-0.3135,0.0002,1424.0

281215 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
7850,1219.0,1299.0,1107.18,0.0,0.1874,0.7313,0.0002,655.0

281215 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
7851,480.3,496.8,490.6,0.0,0.1876,-0.2929,0.0002,879.0

291221 Calls

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
7984,1429.2,1509.0,1452.99,0.0,0.1948,0.7589,0.0001,1517.0

291221 Puts

,bid,ask,last_trade_price,volume,iv,delta,gamma,open_interest
7985,519.9,534.5,533.0,2.0,0.1945,-0.275,0.0001,1397.0

# Gamma Exposure (GEX)
We want to know, at each index level, how much gamma are the market makers sitting on. To do this, we need to know how many of each particular option the market makers hold AND whether they're long or short each option. We can know the first thing from open interest but for the second thingm the data doesn't tell us whether they're long or short (they keep this secret of course!).

So a naive assumption to start with is that the dealers are long calls and short puts, which on the whole index isn't an entirely terrible assumption. We could use actual trades data to construct a more accurate picture of whether they're long or short (based on where trades are being closed relative to the bid, mid, ask can tell you whether the trade is speculative or a hedge for example.). However, this comes at a big cost and isn't easy so for now we'll just assume that the dealers are long calls and short puts.

Recall that long options have positive gamma and short options have negative gamma. So our assumption of long calls and short puts mean that in thie case, calls carry positive gamma and puts negative.

The first thing to do is calculate the gamma contribution of each option. This gives the option's CHANGE IN DELTA per ONE POINT MOVE in the index. The formula is (negate for puts):

    Option Gamma * Contract Size * Open Interest * Index Price
    
However, we actually want how much delta changes per 1% MOVE IN THE INDEX, not 1 point. Since a 1% move corresponds to a point change of 0.01 * Index Price, we can simply multiply our first formula by this giving:

    Option Gamma * Contract Size * Open Interest * (Index Price)^2 * 0.01

Finally, we sum gamma contributions across all of the options to give us the total Gamma Exposure (GEX) of the dealers.

* If GEX is positive, dealers are LONG GAMMA, so if the index moves up 1%, then delta also goes up so dealers need to SELL the underlying to delta hedge. If the index moves down 1%, then delta also goes down so dealers need to BUY the underlying to delta hedge.
* If GEX is negative, dealers are SHORT GAMMA, so if the index moves up 1%, then delta goes down so dealers need to BUY the underlying to delta hedge. If the index moves down 1%, then delta goes up so dealers need to SELL the underlying to delta hedge.

In [6]:
# Calculate gamma contribution of each option TODO? Where is contract size?
sign = df['Type'].apply(lambda x: 1 if x == 'C' else -1)
df['gamma_contribution'] = df['gamma'] * df['open_interest'] * df['Index Price'] * sign

# Calculate GEX
gex = df['gamma_contribution'].sum()
gex

16563883.219494598